.container {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 3em;
  color: #fff;
}

input {
  padding: 10px;
  border-radius: 20px 0 0 20px;
  outline: none;
  border: none;
  width: 60%;
  max-width: 300px;
}

button {
  background-color: #ff9800;
  padding: 10px;
  border: none;
  border-radius: 0 20px 20px 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #f1a137;
}